# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
db.sqlite3
staticfiles/

# Celery / Beat
celerybeat-schedule
celerybeat.pid

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
